<aside class="main-sidebar">
  <section class="sidebar">
    <ul id="sidebar-menu" class="sidebar-menu" data-widget="tree">
      <% if current_user.role_id == 1 %>
      <li>
        <a href="<%=root_path%>"><i class="fa fa-book admin"></i><span>Dashboard</span></a>
      </li>
      <li>
        <a href="<%=projects_path%>"><i class="fa fa-book admin"></i><span>Project</span></a>
      </li>
      <li>
        <a href="<%= tasks_path%>"><i class="fa fa-book admin"></i><span>Task</span></a>
      </li>
      <li>
        <a href="<%= assign_tasks_path%>"><i class="fa fa-book admin"></i><span>Task Assign</span></a>
      </li>
      <% end %>
    </ul>
  </section>
</aside>