 <table style="border: 1px solid black;">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Assignged</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    <% @assign_tasks.each do |task| %>
    <tr>
      <% if task.task != nil %>
      <td><%= task.task.t_name %></td>
      <td><%= task.assignee.email %></td>
      <td><a onclick="add1(<%= task.id%>);"><%= task.status %></a></td>
      <%end%>
  </tr>
  <%end%>
</tbody>
</table>